openapi: 3.0.0
info:
  version: 0.1.0
  title: Panopticon API
servers:
  - url: 'http://localhost:3000'
paths:
  /v1/projects:
    get:
      operationId: projects_get
      summary: List available projects
      responses:
        '200':
          description: Returns a list of projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
    post:
      operationId: projects_post
      summary: Create project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPost'
      responses:
        '200':
          description: Create a project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutationResponse'
components:
  schemas:
    MutationResponse:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          format: int64
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/ProjectGet'
    ProjectGet:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    ProjectPost:
      type: object
      required:
        - name
      properties:
        name:
          type: string
