get:
  operationId: tasks_task_id_get
  summary: Show task detail
  tags:
    - Tasks
  parameters:
    - in: path
      name: project_id
      description: "プロジェクトID"
      required: true
      schema:
        type: integer
        format: int64
    - in: path
      name: task_id
      description: "タスクID"
      required: true
      schema:
        type: integer
        format: int64
  responses:
    "200":
      description: Returns a task detail
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TaskGet"
